.reviews {
  margin-block: 2rem;
  & > h2 {
    text-align: center;
  }
}

.review-item {
  display: flex;
  align-items: center;
  gap: 3ch;
  padding: 1em;
  margin-block: 2em;
  background-color: var(--bg-accent);
  
  margin-inline: 0 30%;
  border-radius: 5px 0 0 5px;

  &:nth-child(2n) {
    flex-direction: row-reverse;
    margin-inline: 30% 0;
    border-radius: 0 5px 5px 0;
  }
}

@supports (animation-timeline: view()) {
  .review-item {
    opacity: 0;
    scale: 0.8;
    animation: linear forwards;
    animation-timeline: view();
    animation-range: 50px entry;
    
    animation-name: enter-right;
    transform-origin: right;

    &:nth-child(2n) {
      animation-name: enter-left;
      transform-origin: left;
    }
  }
}

.reviewer {
  & > img {
    max-width: 4rem;
    max-width: 3.5rem;
    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 5px;
  }
  & > p {
    color: var(--txt-secondary);
    text-align: center;
    white-space: nowrap;
  }
}

@keyframes enter-right {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes enter-left {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
