.contact {
  margin-block: 1em;
  text-align: center;
  padding-inline: 4em;
}

.icon-links {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2em;

  & a {
    line-height: 0;
  }
}

.icon {
  line-height: 0;
  cursor: pointer;
  transition: color 500ms;

  &.whatsapp {
    --icon: "\f232";
    &:active {
      color: #00d757;
    }
  }

  &.instagram {
    --icon: "\f16d";
    &:active {
      color: #fe2a6d;
    }
  }
}

@media (hover: hover) {
  .icon.instagram {
    &:hover {
      color: #fe2a6d;
    }
  }
  .icon.whatsapp {
    &:hover {
      color: #00d757;
    }
  }
}

.cta {
  color: var(--txt-secondary);
  margin-bottom: 0.5em;
}
