.who-is-it-for {
  margin-block: 2rem;
  padding: 2em;
  background-color: var(--bg-secondary);
  & > h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}

.suitability-list {
  list-style: none;

  & > li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    & > .item-counter {
      font-size: 3em;
      width: 1ch;
      margin-inline-end: 1ch;
      text-align: center;
    }
  }
}
